<!-- start products category list cell template - Basic : Clean Lines -->
<TD><TABLE width="280" border="0" align="left" cellpadding="0" cellspacing="1" bgcolor="#333333">
  <TR>
  	<TD>
	<TABLE width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
          <TR> 
            <TD width="4" height="40"><IMG src="/images/store/templates/common/spacer.gif" width="4" height="4"></TD>
            <TD colspan="2" bgcolor="#FFFFFF" width="98%" class='lnk-HedOff' nowrap><a href="<%=getCurrentAttribute('sitecategory','storeurl')%>" class='lnk-HedOff'; onMouseover="this.className='lnk-HedOn'; return true;" onMouseout="this.className='lnk-HedOff'; return true;"><%=getCurrentAttribute('sitecategory','itemid')%></a></TD>
            <TD width="4"><IMG src="/images/store/templates/common/spacer.gif" width="4" height="4"></TD>
          </TR>
          <TR> 
            <TD height="40"><IMG src="/images/store/templates/common/spacer.gif" width="4" height="40"></TD>
            <TD valign="top" width="180"><%=getCurrentAttribute('sitecategory','description')%></TD>
            <TD valign="top" width="80"><a href="<%=getCurrentAttribute('sitecategory','storeurl')%>"><%=getCurrentAttribute('sitecategory','storedisplaythumbnailhtml')%></a></TD>
            <TD></TD>
          </TR>
        </TABLE></TD>
        </TR>
      </TABLE></TD>
<!-- end products category list cell template - Basic : Clean Lines -->
